.groupList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1160px;
}

.groupsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  background-color: var(--dante-light-background);
  padding: 20px;
}

.filtersMobile {
  display: none;
}

.noGroups {
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
}

.toolbar {
  background-color: var(--dante-dark-brown);
  color: var(--dante-white);
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 5px;
}

.toolbarItem {
  cursor: pointer;
  padding: 10px;
  display: flex;
}

.toolbarTab {
  display: flex;
  justify-content: center;
  background-color: var(--dante-light-background);
}

.toolbarItem span {
  margin-right: 10px;
}

.tabActive {
  display: flex;
}

.tabHidden {
  display: none;
}

.displayTypeContainer {
  display: flex;
  padding: 5px;
  border-radius: 50px;
  background-color: var(--dante-main-background);
}

.displayTypeItem {
  color: var(--dante-dark-brown);
  font-weight: 600;
  padding: 5px 10px;
  cursor: pointer;
  transition: 500ms;
}

.displayTypeItem.selected {
  color: var(--dante-main-background);
  background-color: var(--dante-dark-brown);
  border-radius: 50px;
}

@media screen and (max-width: 630px) {
  .groupList {
    justify-content: center;
  }

  .filtersMobile {
    padding: 20px;
    display: block;
  }

  .toolbar {
    display: none;
  }

  .toolbarTab {
    display: none;
  }

  .filters {
    background-color: unset;
  }
}
