.groupList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1160px;
}

.groupsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  background-color: var(--dante-light-background);
  padding: 20px;
}

.noGroups {
  font-size: 45px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 630px) {
  .groupList {
    justify-content: center;
  }
}
