.detailsLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHeader,
.bulletPoints {
    color: var(--dante-grey);
}

.subHeader {
    font-size: 24px;
    color: var(--dante-black);
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.description {
    max-width: 500px;
    color: var(--dante-grey);
    white-space: pre-wrap;
    text-align: justify;
    margin-top: 20px;
    font-family: "Rubik", sans-serif;
}

.detailsTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bulletPoints {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

.bulletPoints span {
    padding-right: 10px;
    vertical-align: middle;
}

.bulletPoint {
    margin-top: 5px;
}