.modal {
  position: fixed;
  background-color: white;
  z-index: 9999;
  width: fit-content;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent {
  display: flex;
  padding: 10px 48px 0px 48px;
  flex-direction: column;
}

.detailsTop {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dante-grey);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info {
  display: flex;
  gap: 10px;
}

.infoValue {
  text-transform: capitalize;
  color: var(--dante-black);
}

.icon {
  color: var(--dante-black);
}

.separator {
  width: 2px;
  height: 100px;
  background-color: var(--dante-grey);
}

.level {
  font-size: 110px;
  font-weight: 700;
  color: var(--dante-black);
  line-height: 1;
}

.levelSpecial {
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.level.medium {
  font-size: 50px;
}

.level.small {
  font-size: 28px;
}

.description {
  color: var(--dante-grey);
  max-width: 300px;
  white-space: pre-wrap;
  text-align: justify;
  margin-top: 10px;
  font-family: "Rubik", sans-serif;
}

.datesHeader,
.freePlacesHeader {
  font-size: 25px;
  font-weight: 700;
  color: var(--dante-black);
}

.dates,
.freePlaces {
  margin-top: 10px;
  color: var(--dante-grey);
  font-family: "Rubik", sans-serif;
}

.dates span {
  margin-right: 10px;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  object-fit: contain;
}

.photo img {
  border-radius: 20px;
}

.detailsRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.detailsRight,
.freePlacesContainer {
  width: 250px;
}

.photoTitle {
  font-size: 20px;
  color: var(--dante-black);
  font-weight: 600;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 20px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;

  padding: 25px 48px;
}

.signInButton {
  background-color: var(--dante-dark-brown);
  color: white;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 4px;
  min-width: 80px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  border: none !important;
  transition: linear 200ms;
}

.signInButton:hover {
  background-color: var(--dante-dark-brown);
  color: var(--dante-white);
  transform: scale(1.1);
}

.signInButton:focus {
  background-color: var(--dante-dark-brown);
}

.detailsBottom {
  display: flex;
  justify-content: space-between;
}

.freePlacesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailsRight .description {
  display: none;
}

.modalClose {
  text-align: right;
  color: var(--dante-grey);
  padding-right: 10px;
  padding-top: 10px;
}

.modalClose span {
  cursor: pointer;
  font-size: 30px;
}

@media screen and (max-width: 630px) {
  .modal {
    width: 90%;
    max-height: 90vh;
    overflow: auto;
  }

  .modalContent {
    padding: 0px 25px 0px 25px;
  }

  .detailsRight {
    flex-direction: column-reverse;
    width: unset;
    align-items: center;
  }

  .detailsRight .description {
    display: block;
    padding-right: 25px;
    font-size: 14px;
    padding-right: 0px;
    margin-bottom: 15px;
  }

  .photo {
    align-items: center;
  }

  .photo img {
    width: 50%;
  }

  .description {
    margin-top: unset;
  }

  .header {
    flex-direction: column;
  }

  .level {
    font-size: 70px;
  }

  .separator {
    display: none;
  }

  .info {
    gap: 5px;
  }

  .infoContainer {
    flex-direction: row;
    font-size: 11px;
  }

  .infoValue {
    display: flex;
    align-items: center;
  }

  .infoValue.hours {
    min-width: 65px;
  }

  .detailsLeft .description {
    display: none;
  }

  .detailsTop {
    flex-direction: column;
  }

  .dates,
  .freePlaces {
    font-size: 12px;
  }

  .dates {
    display: flex;
    justify-content: center;
  }

  .dates span:last-child {
    margin-right: unset;
  }

  .freePlacesHeader,
  .datesHeader {
    font-size: 18px;
  }

  .classDates {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .toolbar {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .signInButton {
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    height: 30px;
    transition: unset;
    font-weight: 500;
  }

  .signInButton:hover {
    transform: unset;
  }

  .freePlacesContainer {
    width: unset;
  }
}
