.groupsTable {
  --cell-width: 15%;
  max-width: 1410px;
  width: 100%;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.tableBody>.tableRow:nth-child(2n)>div {
  background-color: white;
}

.tableRow {
  display: flex;
  justify-content: center;
}

.tableHeader {
  background-color: var(--dante-dark-brown);
  color: var(--dante-white);

  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.tableHeader>div {
  width: var(--cell-width);
  padding: 10px 0px;
}

.firstColumn {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--dante-grey);
  position: relative;
  overflow: hidden;
}

.icon {
  color: var(--dante-black);
}

.tableRow>div {
  width: var(--cell-width);
  text-align: center;
  padding: 10px 0px;
  color: var(--dante-black);
}

.tableHeader>div,
.tableRow>div {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--dante-grey);

  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--dante-grey);
}

.tableRow>.danteButton {
  cursor: pointer;
  font-weight: 700;
  color: var(--dante-dark-brown);
}

.infoIcon {
  cursor: pointer;
}

.tableRow>.specialRow {
  width: calc(var(--cell-width) * 3);
  padding-right: 2px;
}

.fullTag {
  background-color: var(--dante-inactive-grey);
  position: absolute;
  top: 5px;
  left: -25px;
  rotate: -45deg;
  width: 80px;
  font-size: 12px;
  color: var(--dante-white);
  font-weight: 600;
}