.groupCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 190px;
  background-color: var(--dante-white);
  padding: 10px 20px;
  border-radius: 10px;
  transition: 400ms linear;
}

.groupCard:hover {
  transform: scale(1.1);
}

.groupType {
  padding-top: 2px;
  font-weight: 700;
  color: var(--dante-dark-brown);
  text-transform: uppercase;
}

.groupLevel {
  font-weight: 700;
  padding-top: 7px;
  color:var(--dante-black);
  font-size: 45px;
}

.groupDays {
  padding-top: 7px;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  color:var(--dante-grey);
  font-weight: 400;
}

.groupLector {
  padding-top: 7px;
  font-size: 14px;
  font-family: "Rubik", sans-serif;
  color:var(--dante-grey);
  font-weight: 400;
}

.buttonsContainer{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.danteButton {
  background-color: var(--dante-dark-brown);
  color: var(--dante-white);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 4px;
  min-width: 80px;
  text-align: center;
}