.overviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupList {
  width: 100%;
  padding: 25px 0px !important;
}

.swiperSlide {
  width: auto !important;
  display: flex !important;
  height: auto !important;
}

.noGroupsMessage {
  margin: 40px 0;
  font-size: 18px;
  color: var(--dante-black);
  text-align: center;
  font-weight: 500;
}

:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: var(--dante-dark-brown) !important;
}
