:root {
  --dante-light-background: #F8F2E6;
  --dante-dark-brown: #6F2B2C;
  --dante-filter-option-background: #f4d09c;
  --dante-main-background: #F8EAD0;
  --dante-black: #353F4F;
  --dante-grey: #6C757D;
  --dante-white: #faefdd;
}

body, #root {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--dante-main-background);
  color: black;
  font-size: 16px;
  line-height: normal;
}

#root * {
  box-sizing: content-box !important;
}
