:root {
  --dante-light-background: #f8f2e6;
  --dante-dark-brown: #6f2b2c;
  --dante-filter-option-background: #f4d09c;
  --dante-main-background: #f8ead0;
  --dante-black: #353f4f;
  --dante-grey: #6c757d;
  --dante-white: #faefdd;
  --dante-red: red;
  --dante-inactive-grey: #303633;
}

body,
#root,
div.dante-groups-overview {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--dante-main-background);
  color: black;
  font-size: 16px;
  line-height: normal;
}

#root *,
div.dante-groups-overview * {
  box-sizing: content-box !important;
}

#root section,
#root section *,
div.dante-groups-overview section,
div.dante-groups-overview section * {
  box-sizing: border-box !important;
}

.group-filters-multi-select {
  width: 80%;
}

.group-filters-multi-select .dropdown-heading-value {
  text-align: center;
}

.group-filters-multi-select .dropdown-heading {
  width: 96% !important;
}

.dropdown-container {
  border-radius: 10px !important;
}

.dropdown-content {
  color: var(--dante-grey);
}

#externalFormModal .wpforms-field {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

@media screen and (max-width: 630px) {
  #externalFormModal .wpforms-field {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  #externalFormModal .wpforms-field-description {
    font-size: 10px !important;
  }

  #externalFormModal .discounts-list ul {
    gap: 5px;
  }
}
